<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/css/favicon.ico">

        <title>ADA</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/cover.css" rel="stylesheet">



        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bungee+Hairline" >

        <style>
            body {
                  font-family: 'Bungee Hairline';
                }
        </style>

    </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">ada</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"> Semantic Web Librarian</h1>
            <p class="lead"> Extract info from any text, image, or video</p>

            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
              </div>

            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Upload documents</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>ada 2016  -   <a href="https://github.com/mhw32/Adaware">repo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
