<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/css/favicon.ico">
        <title>Ada</title>
        <!-- favicon -->
        <link rel='shortcut icon' href='/static/images/favicon.png' type='image/x-icon'/ >
        <!-- bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/core.css" rel="stylesheet">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header id="header" class="alt">
                <h1>Ada</h1>
                <p><b>Artificial Intelligence for the Semantic Web</b></p>
            </header>
            <div class="ada-section padded-section">
                <img src="/static/images/home.jpg" alt="nodes" style="width:100%">
            </div>
            <div class="ada-section padded-section about-section">
                <h2>
                    The way we search for information is inefficient.
                </h2>
                <p>
                    Currently, we rely on ourselves to distill the information we desire into a set of keywords that hopefully returns to us a series of links that we have to spend time browsing in order to determine if we've discovered what we were originally looking for. We at Ada think <b><i>searching for information should be more like a conversation</i></b>. We are working on an AI agent who can do the browsing/filtering for us.
                </p>
                <p>
                    <b><span style='font-size: 20px'>Ada is a work-in-progress.</span></b>
                    <br>
                <p>
                </p>
                    We are currently building the machine learning engine behind Ada:

                    <ul>
                      <li><a href='/core'>AdaNLP</a>: Natural Language Processing Engine</li>
                      <li><a href='/graph'>AdaGraph</a>: Graphical Modeling Engine</li>
                    </ul>
                </p>
            </div>
        </div>
        <footer>
          <section class="footersection">
            <div class="title">
              <h2>Ada</h2>
              Artificial intelligence for the semantic web.
            </div>

            <div class="copyline">
              <a href="mailto:me@mikewuis.me?Subject=Ada" target="_blank">Contact</a> | Copyright &copy; 2016 Ada.
            </div>
          </section>
        </footer>
    </body>
</html>
