.wrapper {
    padding: 4rem 8rem;
}

h1, h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
}

.demo-button-section {
    margin-top: 15px;
}

.demo-response-section {
    background-color: #e5e5e5;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
}

/* Home Page CSS */

.padded-section {
    padding-top: 30px;
}


/* Search Bar CSS */

.ada-question-wrapper {
    background-color: #ed145a;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ada-response-wrapper {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ada-search-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

#ada-search-bar {
    height: 44px;
    padding: 10px;
    width: 70%;
    max-width: 600px;
    font-size: 18px;
}

#ada-search-button {
    background-color: #ed145a;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#ada-search-text {
    color: gray;
}

#ada-search-text a {
    color: #ed145a;
}

.ada-convo-list {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 700px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.ada-convo-list p {
    margin-bottom: 0;
}

.ada-hidden {
    display:none;
}

/* Footer CSS */

footer h2 {
    font-size: 1em;
    margin: 0;
    color: #333;
}

footer {
    color: gray;
    font-weight: 400;
    padding: 2rem 1rem;
    margin-top: 2rem;
    font-size: 14px;
    line-height: 1.4;
    background-color: #e5e5e5;
    padding-left: 8rem;
    padding-right: 8rem;
}

footer div.copyline {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 1em;
    margin-top: 2em;
    font-size: 12px;
}